    @{
        ViewBag.Title = "Dashboard";
    }

    <div class="row">
        <div class="col-sm-24">
            <div class="col-sm-offset-2 col-sm-8 box animated fadeIn">
                <div class="panel panel-cco">
                    <div class="panel-heading">
                        <h2 class="panel-title">Dashboard - Statistieken</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <ul class="list-group">
                                @foreach (var item in @ViewBag.Projects)
                                {
                                    <li class="list-group-item">
                                        @item.Name:
                                        <span class="badge" style="background-color: #@item.Color; border-color: #@item.Color;">
                                          @item.GetTotalTime() uur
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <canvas id="myChart" width="800" height="450"></canvas>
                        </div>

                        <script>
                            var data = {
                                labels: [@foreach (var item in @ViewBag.Names)
	                                {
		                                    @Html.Raw("\"" + item + "\",");
	                                }],
                                datasets: [
                                  {
                                      data: [@foreach (var item in @ViewBag.Hours)
                                        {
                                                @Html.Raw("\"" + item + "\",");
                                        }],
                                      backgroundColor: [@foreach (var item in @ViewBag.Colors)
                                        {
                                                @Html.Raw("\"" + item + "\",");
                                        }],
                                      hoverBackgroundColor: [@foreach (var item in @ViewBag.Colors)
                                        {
                                             @Html.Raw("\"" + item + "\",");
                                        }]
                                  }]
                            };

    Chart.pluginService.register({
        beforeDraw: function (chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;

            ctx.restore();
            var fontSize = (height / 114).toFixed(2);
            ctx.font = fontSize + "em sans-serif";
            ctx.textBaseline = "middle";

            var text = "@ViewBag.TotalHours uur",
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2;

            ctx.fillText(text, textX, textY);
            ctx.save();
        }
    });

    var chart = new Chart(document.getElementById('myChart'), {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            legend: {
                display: false
            }
        }
    });
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
