@model CCO_Urenregistratie.Models.Project

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-sm-24">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-offset-2 col-sm-8 box animated fadeIn">
                <div class="panel panel-cco">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit - Project</h3>
                    </div>
                    <div class="panel-body">



                       
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="input-group form-cco">

                                        @Html.HiddenFor(model => model.UserId)
                                        <div class="form-group">
                                            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                        </div>
                                            <span class="input-group-btn">
                                                <input class="btn btn-cco fa fa-plus" type="submit" data-type="last">
                                            </span>
                                        </div>
                                </div>
                            </div>
                    
                    </div>
                </div>
            </div>


        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
